{% extends 'customer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
<style>

      body {
            background-color: #fcbf49; /* Light gray background */
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
            margin: 0;
          }
          
    .container {
        max-width: 800px;
        border-radius: 20px;
    }

    .card {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Elevation effect */
        border-radius: 20px; /* Rounded corners */
        margin-top: 40px;
    }

    .card-body {
        padding: 2rem;
        background-color: #eae2b7;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .card-text {
        font-size: 18px;
        color: #555;
    }

    b {
        color: #333;
    }

    .order-info {
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Order Completed</h3>
            <p class="card-text"><b>Your Vehicle Order Has Been Processed!</b></p>

            <div class="order-info">
                <p><b>Total Rent :</b> ₹ {{ order.rent }}</p>
                <p><b>Vehicle :</b> {{ order.car.name }}</p>
                <p><b>Duration :</b> {{ order.days }} days</p>
                <p><b>Car-Dealer :</b> {{ order.car_dealer.car_dealer.first_name }} {{ order.car_dealer.car_dealer.last_name }}</p>
                <p><b>Car-Dealer's Contact:</b> {{ order.car_dealer.phone }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
